.Century {}

.century-title {
    width: 100%; 
    text-align: center; 
    border-bottom: 5px solid rgb(0, 0, 0); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 .century-title span { 
     background:#fff; 
     padding:0 10px; 
 }